<!doctype html>
<html>
    {{>head}}    
<body style="background-color:#F5A9F2;">

<header style="height:20px; margin:20px;text-align:center;font-size:30px;">SLEEKJS - USER MODULE</header>
 {{>nav}}  
  <div style="min-height: 300px; margin: 80px 30px; text-align: center;">{{{body}}}</div>

<footer style="height:20px; margin:20px;text-align:center;font-size:15px; bottom:0;">copyright@2015</footer>

</body>
</html>
