<h1>User Lists</h1>

<table style="width:100%">
  <tr>
    <th>Email</th>
    <th>Name</th> 
    <th>Joined</th>
  </tr>
   {{#each message}}
    <tr>
    <td>{{this.email}}</td>
    <td>{{this.name}}</td> 
    <td>{{this.created}}</td>
  </tr>
 {{/each}}
</table>

